/*淡入淡出动画*/
.comein-fade-enter-active {
  transition: all .5s linear;
}

.comein-fade-leave-active {

  /*transition: all .1s linear;*/
}

.comein-fade-enter {
  opacity: 0;
}

.comein-fade-enter-to {
  opacity: 1;
}

.comein-fade-leave {
  opacity: 0;
}

.comein-fade-leave-to {
  opacity: 0;
}

/*页面滑动进来动画*/
.slide-fade-enter-active {
  transition: all 0.3s ease;
}

.slide-fade-leave-active {
  transition: all 0.2s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.slide-fade-enter, .slide-fade-leave-active {
  transform: translateX(100px);
  opacity: 0;
}

body, .el-main {
  min-width: 1200px;
}

.content {
  width: 100%;
  height: auto;
  min-height: 100%;
  box-sizing: border-box; /*border:1px solid lightblue;*/
  padding: 20px 54px;
}

.row {
  width: 100%;
  min-height: 40px;
  height: auto;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  margin-bottom: 15px;
}

.row .block {
  display: inline-flex;
  flex: 1;
  height: 300px;
  border: 1px solid #ccc;
  width: 350px;
}

.view {
  display: inline-block;
  width: 80px;
  height: 40px;
  line-height: 40px;
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
}

.code {
  border: 1px solid #d5d5d5;
  box-sizing: border-box;
  padding: 10px 5px;
  width: 85%;
  overflow: scroll;
  max-height: 300px;
}

.code:hover {
  border-color: #409eff;
}

.code pre {
  line-height: 20px;
  font-size: 16px;
  box-sizing: border-box;
  padding: 10px 5px;
  color: #3182bd;
}

.copy {
  width: 80px;
  height: 30px;
  background-color: #27B777;
  border-radius: 4px;
  cursor: pointer;
  border: 2px solid #27B777;
  font-size: 14px;
  color: white;
}

.ued-box-basic, .ued-flex-basic {
  background-color: lightblue;
  border: 1px solid black;
}
